<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Letter List</title>
</head>
<a>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>image</th>
        <th>title</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for letter in letter_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
           {% if letter.image != '' %}
        <td><img src = "{{ letter.image.url }}" alt = "" style = "height:88px"></td>
            {% else %}<td>----</td>
        {% endif %}
        <td>{{ letter }}</td>
        <td><a href = "{% url 'list:update' pk=letter.id %}">Modify</a></td>
        <td><a href = "{% url 'list:delete' pk=letter.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href = "{% url 'list:add_letter' %}">Add Letter</a>
</body>
</html>